/*PADDING TOP*/
.pt-0 {padding-top: 0;}
.pt-16 {padding-top: 1rem;}
.pt-24 {padding-top: 1.5rem;}
.pt-32 {padding-top: 2rem;}
.pt-40 {padding-top: 2.5rem;}
.pt-48 {padding-top: 3rem;}
.pt-56 {padding-top: 3.5rem;}
.pt-64 {padding-top: 4rem;}
.pt-72 {padding-top: 4.5rem;}
.pt-80 {padding-top: 5rem;}
.pt-88 {padding-top: 5.5rem;}
.pt-96 {padding-top: 6rem;}

/*PADDING RIGHT*/
.pr-0 {padding-right: 0;}
.pr-16 {padding-right: 1rem;}
.pr-24 {padding-right: 1.5rem;}
.pr-32 {padding-right: 2rem;}
.pr-40 {padding-right: 2.5rem;}
.pr-48 {padding-right: 3rem;}
.pr-56 {padding-right: 3.5rem;}
.pr-64 {padding-right: 4rem;}
.pr-72 {padding-right: 4.5rem;}
.pr-80 {padding-right: 5rem;}
.pr-88 {padding-right: 5.5rem;}
.pr-96 {padding-right: 6rem;}

/*PADDING BOTTOM*/
.pb-0 {padding-bottom: 0;}
.pb-16 {padding-bottom: 1rem;}
.pb-24 {padding-bottom: 1.5rem;}
.pb-32 {padding-bottom: 2rem;}
.pb-40 {padding-bottom: 2.5rem;}
.pb-48 {padding-bottom: 3rem;}
.pb-56 {padding-bottom: 3.5rem;}
.pb-64 {padding-bottom: 4rem;}
.pb-72 {padding-bottom: 4.5rem;}
.pb-80 {padding-bottom: 5rem;}
.pb-88 {padding-bottom: 5.5rem;}
.pb-96 {padding-bottom: 6rem;}


/*PADDING LEFT*/
.pl-0 {padding-left: 0;}
.pl-16 {padding-left: 1rem;}
.pl-24 {padding-left: 1.5rem;}
.pl-32 {padding-left: 2rem;}
.pl-40 {padding-left: 2.5rem;}
.pl-48 {padding-left: 3rem;}
.pl-56 {padding-left: 3.5rem;}
.pl-64 {padding-left: 4rem;}
.pl-72 {padding-left: 4.5rem;}
.pl-80 {padding-left: 5rem;}
.pl-88 {padding-left: 5.5rem;}
.pl-96 {padding-left: 6rem;}


/*HORIZONTAL PADDING*/
.px-0 {padding-left: 0; padding-right: 0;}
.px-16 {padding-left: 1rem; padding-right: 1rem;}
.px-24 {padding-left: 1.5rem; padding-right: 1.5rem;}
.px-32 {padding-left: 2rem; padding-right: 2rem;}
.px-40 {padding-left: 2.5rem; padding-right: 2.5rem;}
.px-48 {padding-left: 3rem; padding-right: 3rem;}
.px-56 {padding-left: 3.5rem; padding-right: 3.5rem;}
.px-64 {padding-left: 4rem; padding-right: 4rem;}
.px-72 {padding-left: 4.5rem; padding-right: 4.5rem;}
.px-80 {padding-left: 5rem; padding-right: 5rem;}
.px-88 {padding-left: 5.5rem; padding-right: 5.5rem;}
.px-96 {padding-left: 6rem; padding-right: 6rem;}

/*VERTICAL PADDING*/
.py-0 {padding-top: 0; padding-bottom: 0;}
.py-16 {padding-top: 1rem; padding-bottom: 1rem;}
.py-24 {padding-top: 1.5rem; padding-bottom: 1.5rem;}
.py-32 {padding-top: 2rem; padding-bottom: 2rem;}
.py-40 {padding-top: 2.5rem; padding-bottom: 2.5rem;}
.py-48 {padding-top: 3rem; padding-bottom: 3rem;}
.py-56 {padding-top: 3.5rem; padding-bottom: 3.5rem;}
.py-64 {padding-top: 4rem; padding-bottom: 4rem;}
.py-72 {padding-top: 4.5rem; padding-bottom: 4.5rem;}
.py-80 {padding-top: 5rem; padding-bottom: 5rem;}
.py-88 {padding-top: 5.5rem; padding-bottom: 5.5rem;}
.py-96 {padding-top: 6rem; padding-bottom: 6rem;}
