@media screen and (max-width: 768px) {
    .f-sm {font-size: 1rem;}
    .f-md {font-size: 2rem;}
    .f-lg {font-size:3rem;}
}

p {
    font-weight: 300;
    line-height: 1.5;
    font-size: 1rem;
}

.oswald {font-family: 'Oswald', sans-serif;}

.text-upper {text-transform: uppercase;}